@import './variables.css';
@import './themes.css';
@import './layout.css';
@import './components.css';


*,
*::before,
*::after {
    max-width: 100%;
    box-sizing: border-box;
}

img,
video {
    max-width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}